.container {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1 {
    color: var(--white);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.input {
    background-color: var(--dark-900);
    border: 0;
    padding: 1rem;
    height: 40px;
    border-radius: 0.3rem;
    color: var(--white);
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
}

.input1 {
    background-color: var(--dark-900);
    border: 0;
    padding: 1rem;
    width: 280px;
    height: 40px;
    border-radius: 0.3rem;
    color: var(--white);
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
}

.line {
    display: flex;
    justify-content: space-between;
}

.washingType {
    height: 40px;
    width: 280px;
    background-color: #101026;
    color: #fff;
    justify-content: space-between;
}

.buttonAdd {
    height: 40px;
    border: 0;
    background-color: var(--green-900);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    color: var(--dark-700)
}

@media (max-width: 620px) {
    .container {
        margin-left: 50px;
        width: 450px;
    }
    .input1 {
        background-color: var(--dark-900);
        border: 0;
        padding: 1rem;
        width: 170px;
        height: 40px;
        border-radius: 0.3rem;
        color: var(--white);
        border: 1px solid var(--gray-100);
        margin-bottom: 1rem;
    }
    .washingType {
        height: 40px;
        width: 170px;
        background-color: #101026;
        color: #fff;
        justify-content: space-between;
    }
    .input {
        width: 100%;
        justify-content: center;
    }
    .container h1 {
        text-align: center;
    }
}

@media (max-width: 360px) {
    .container {
        margin-left: 50px;
        width: 400px;
    }
    .input1 {
        background-color: var(--dark-900);
        border: 0;
        padding: 1rem;
        width: 140px;
        height: 40px;
        border-radius: 0.3rem;
        color: var(--white);
        border: 1px solid var(--gray-100);
        margin-bottom: 1rem;
    }
    .washingType {
        height: 40px;
        width: 140px;
        background-color: #101026;
        color: #fff;
        justify-content: space-between;
    }
    .input {
        width: 340px;
        justify-content: center;
    }
    .container h1 {
        text-align: center;
        font-size: 25px;
    }
}